@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #080b11;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}
